<!-- <div id="family-plan" class="site-section site-blocks-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 site-section-heading text-center pt-4">
        <h2>Nossos planos</h2>
      </div>
    </div>
    <div style="margin-left: 10%; margin-top: 5%;" class="row">
      <div class="col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-0" data-aos="fade" data-aos-delay="">
        <a href="#">
          <figure>
            <img src="../../assets/images/icon_sponsor.png" alt="">
          </figure>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <a href="#">
          <figure class="image">
            <img src="../../assets/images/icon_partner.png" alt="">
          </figure>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <a href="#">
          <figure class="image">
            <img style="width: 41% !important" src="../../assets/images/icon_adopt_child.png" alt="">
          </figure>
        </a>
      </div>

    </div>
    <div style="margin-left: 10%;" class="row">
      <div class="col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <a href="#">
          <figure class="image">
            <img src="../../assets/images/icon_family_adopt.png" alt="">
          </figure>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <a href="#">
          <figure class="image">
            <img style="width: 46% !important" src="../../assets/images/icon_volunteer.png" alt="">
          </figure>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <a href="#">
          <figure class="image">
            <img style="width: 46% !important" src="../../assets/images/icon_make_donation.png" alt="">
          </figure>
        </a>
      </div>
    </div>
  </div>
</div> -->

<div class="site-section site-section-sm site-blocks-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
        <div class="icon mr-4 align-self-start">
          <span class="icon-clock-o"></span>
        </div>
        <div class="text">
          <h2 class="text-uppercase">1 ano de garantia</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan
            tincidunt fringilla.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div class="icon mr-4 align-self-start">
          <span class="icon-dollar"></span>
        </div>
        <div class="text">
          <h2 class="text-uppercase">Preço de fábrica</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan
            tincidunt fringilla.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
        <div class="icon mr-4 align-self-start">
          <span class="icon-chat"></span>
        </div>
        <div class="text">
          <h2 class="text-uppercase">Suporte online (24/7) </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan
            tincidunt fringilla.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5829662.js"></script>