<div class="site-blocks-cover" data-aos="fade">\
    <slideshow [height]="'80%'" [minHeight]="'525px'" [autoPlay]="true" [showArrows]="false" [imageUrls]="imgags"
        autoPlayInterval="5000" [autoPlayWaitForLazyLoad]="true">

    </slideshow>
    <div class="container" style="max-width: 100% !important; width: 100%;">
        <div class="row align-items-start align-items-md-center justify-content-end">
            <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
                <h1 class="mb-2">Sua casa nova está aqui</h1>
                <div class="intro-text text-center text-md-left">
                    <p class="mb-4">Conheça nossos produtos e tenha a garantia de qualidade e preço justo</p>
                    <p>
                        <a href="#" class="btn btn-sm btn-primary">Adote agora</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>